name: SonarCloud Scan

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=srigajalakshmi_sonarqube-demo
            -Dsonar.organization=srigajalakshmi
            -Dsonar.sources=.
            -Dsonar.python.version=3
